.profile-logo{
    background: #b5b4b4;
    border-radius: 50%;
    padding: 0.5em;
  }
  .heading{
    font-weight: 600;
    color: black;
    padding: 0.8em 3em !important;
    box-shadow: 0 0 8px 0px #a59f9f;
    background: white;
  }